<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
		<li>
			<a href="/">Home</a>
			<a href="/persons">View Person</a>
		</li>
    </ul>
    <hr>
    <form action="/persons/create" method="POST">
		<input type="text" placeholder="name" name="name">
		<input type="text" placeholder="phone" name="phone">
		<input type="text" placeholder="address" name="address">
		<button type="submit">Submit</button>
	</form>
  </body>
</html>
