<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
		<li>
			<a href="/persons">View Persons</a>
		</li>
    </ul>
  </body>
</html>
