<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
		<li>
			<a href="/">Home</a>
			<a href="/persons/addperson">Add Person</a>
		</li>
    </ul>
    <hr>
    <ul>
		<%for(var i=0; i<persons.length; i++){ %>
			<li>
				<p>Name : <%= persons[i].name %></p>
				<p>Number : <%= persons[i].phone %></p>
				<p>
					<a href="/persons/show/<%=persons[i]._id%>">Show</a>
					<a href="/persons/delete/<%=persons[i]._id%>">Delete</a>
				</p>
			</li>
		<% } %>
    </ul>
  </body>
</html>
