<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
		<li>
			<a href="/">Home</a>
			<a href="/persons">View Person</a>
		</li>
    </ul>
    <hr>
    <form action="/persons/update" method="POST">
		<input type="text" placeholder="name" name="name" value="<%=person.name%>">
		<input type="text" placeholder="phone" name="phone" value="<%=person.phone%>">
		<input type="text" placeholder="address" name="address" value="<%=person.address%>">
		<input type="hidden" name="id" value="<%=person.id%>">
		<button type="submit">Update</button>
	</form>
  </body>
</html>
